.cards-container {
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
    border: 2px solid;
    box-sizing: border-box;
}

.cards-header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-header-title {
    font-size: 20px;
    font-weight: 700;
}

.cards-header-informacion {
    font-size: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: white;
}

.card-content-header{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: gray;   
}

.card-content-information{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    height: 60%;
    gap: 5px;
}

.card-content-information-name{
    font-weight: bold;
}

.card-content-information-range{
    font-size: 12px;
    font-weight: 700;
}

.card-content-information-descripcion{
    font-size: 12px;
    color: gainsboro;
}

.card-content-information-social{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.card-content-information-social-facebook{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: blue;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
}

.card-content-information-social-twitter{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(108, 184, 255);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
}

.card-content-information-social-linkedin{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
}
