@font-face {
  font-family: 'practica-web';
  src:  url('fonts/practica-web.eot?g7c33p');
  src:  url('fonts/practica-web.eot?g7c33p#iefix') format('embedded-opentype'),
    url('fonts/practica-web.ttf?g7c33p') format('truetype'),
    url('fonts/practica-web.woff?g7c33p') format('woff'),
    url('fonts/practica-web.svg?g7c33p#practica-web') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.pw-font {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'practica-web' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pw-facebook:before {
  content: "\ea90";
}
.pw-twitter:before {
  content: "\ea96";
}
.pw-linkedin:before {
  content: "\eaca";
}
